@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: principal;
    src: url(fonts/Voice\ In\ My\ Head.otf)format('opentype');
}

:root {
    --font-principal: 'principal'
}

body {
    background: black url(imagens/fundo.png) top right no-repeat fixed;
    background-size: cover;
    color: white;
    position: relative;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}

header >h1 {
    text-align: center;
    font-family: var(--font-principal);
    border: 6px solid rgba(146, 19, 231, 0.644);
    border-radius: 30px;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    transition-duration: 0.5s;
}
header > h1:hover {
    background-color: rgb(146, 19, 231);
    color: black;
}

main {
    padding: 20px;
}


div#d1 > img {
    display: block;
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translate(50%, 59%);
}

div#d1 > a {
    max-width: 310px;
    color: white;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    position: absolute;
    border: 4px solid rgb(146, 19, 231);
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    width: 350px;
    top: 50%;
    left: 2%;
    transform: translate(50%, 79%);
    transition-duration: 1s;
}
div#d1 > a:hover {
    transition-duration: 0.5s;
    text-decoration: underline;
    color: black;
    background-image: linear-gradient(to left,white, black);
}

div#d2 > img {
    display: block;
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translate(50%, 200%);
}

div#d2 > a {
    max-width: 310px;
    color: white;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    position: absolute;
    border: 4px solid #9213e7;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    width: 350px;
    top: 50%;
    left: 2%;
    transform: translate(50%, 240%);
    transition-duration: 1s;
}
div#d2 > a:hover {
    transition-duration: 0.5s;
    text-decoration: underline;
    background-image: linear-gradient(to right,#69c9d0 20%, #ee1d52, #000000c5 80%);
    color: black;
}

div#d3 > img {
    display: block;
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translate(50%, 358%);
}

div#d3 > a {
    max-width: 310px;
    color: white;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    position: absolute;
    border: 4px solid rgb(146, 19, 231);
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    width: 350px;
    top: 50%;
    left: 2%;
    transform: translate(50%, 393%);
    transition-duration: 1s;
}
div#d3 > a:hover {
    transition-duration: 0.5s;
    text-decoration: underline;
    background-image: linear-gradient(to left,#983AD8, #F03756, #EEAC37);
    color: black;
}

